In [1]:
from decode_logs import *
import os

In [4]:
output_dir = "tmp/" + get_current_time()
strategy_type = "distance"
execution_command = "python backtest_pair.py --strategy_type {} --output_dir {}".format(strategy_type, output_dir)

os.system("rm -rf tmp")
os.system(execution_command)

0

In [5]:
df1, df2 = Decoder.get_strategy_status(output_dir)

In [8]:
df1.head(5)

,allow_trade,buy_amt,buy_stk,data0,data1,date,enter_threshold_size,exit_threshold_size,initial_cash,initial_long_pv,...,qty0,qty1,resid_mean,resid_std,sell_amt,sell_stk,spread,status,up_medium,upper_limit
0,True,33104.0,AAN,40.275,51.795,2018-05-01,2.0,0.5,999958.5225,666631.8,...,16552,12871,None,None,25742.0,AER,-11.52,2,-3.517627,0.760291
1,True,NaN,None,40.815,52.345,2018-05-02,2.0,0.5,999958.5225,666631.8,...,16552,12871,None,None,NaN,None,-11.53,2,-3.517627,0.760291
2,True,NaN,None,40.485,53.625,2018-05-03,2.0,0.5,NaN,NaN,...,0,0,None,None,NaN,None,-13.14,0,-3.517627,0.760291
3,True,31360.0,AAN,41.555,54.165,2018-05-04,2.0,0.5,977357.7925,651582.4,...,15680,12029,None,None,24058.0,AER,-12.61,2,-3.623532,1.572671
4,True,NaN,None,40.365,54.155,2018-05-07,2.0,0.5,NaN,NaN,...,0,0,None,None,NaN,None,-13.79,0,-3.623532,1.572671

In [9]:
df2.head(10)

,index,spread,date,latest_trade_action,sell_stk,buy_stk,buy_amt,sell_amt
0,0,-11.520,2018-05-01,long_spread,AER,AAN,33104.0,25742.0
1,2,-13.140,2018-05-03,exit_spread,None,None,NaN,NaN
2,3,-12.610,2018-05-04,long_spread,AER,AAN,31360.0,24058.0
3,4,-13.790,2018-05-07,exit_spread,None,None,NaN,NaN
4,5,-15.410,2018-05-08,long_spread,AER,AAN,31370.0,22538.0
5,60,-7.535,2018-07-26,exit_spread,None,None,NaN,NaN
6,76,-7.350,2018-08-17,short_spread,AAN,AER,25488.0,29294.0
7,78,-6.880,2018-08-21,exit_spread,None,None,NaN,NaN
8,79,-6.290,2018-08-22,short_spread,AAN,AER,24990.0,28086.0
9,80,-5.830,2018-08-23,exit_spread,None,None,NaN,NaN